{{define "title"}}Admin panel for event "{{.Name}}"{{end}}

{{define "main"}}
<div class="login-panel panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Event</strong> {{.Name}}</h3>
	</div>
	<div class="panel-body">
		<p>Admin URL<br>
			<a href='{{template "base_url" .}}/a/{{.AdminCode}}'>{{template "base_url" .}}/a/{{.AdminCode}}</a>
		</p>
		<p>Public URL<br>
			<a href='{{template "base_url" .}}/e/{{.PublicCode}}'>{{template "base_url" .}}/e/{{.PublicCode}}</a>
		</p>
	</div>
</div>
{{end}}