{{define "title"}}Time poll for the event {{.Event.Name}}{{end}}

{{define "main"}}
<br>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Event: {{.Event.Name}}</h3>
	</div>
	<div class="panel-body">
		<form role="form" action="/e/{{.Event.PublicCode}}/{{.TimezoneEscaped}}" method="post">
			<fieldset>
				<div class="form-group">
					<input class="form-control" placeholder="Your name" name="username" id="username" type="text" autofocus>
				</div>
				<hr>
				<div class="form-group">
					<h2 class="panel-title"><strong>Select your prefered times for this event</strong></h2>
					<h3 class="panel-title">Times in timezone: {{.Timezone}}</h3>
				</div>
{{range $index, $element := .TimeOptions}}
				<div class="form-group">
					<label>{{$element}}</label><br>
					<label class="radio-inline">
						<input type="radio" name="{{$index}}" id="{{$index}}-2" value="2" checked>✓✅ yes
					</label>

					<label class="radio-inline">
						<input type="radio" name="{{$index}}" id="{{$index}}-1" value="1" checked>(✓)👌 if need be
					</label>

					<label class="radio-inline">
						<input type="radio" name="{{$index}}" id="{{$index}}-0" value="0" checked>✗⛔ please no
					</label>
				</div>
{{end}}
<!--
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">{ $element }}</span>
						<select name="option[{ $index }}]" id="option[{ $index }}]" class="form-control">
							<option value="0" select>⛔ - Not available</option>
							<option value="1" select>✅ - Available</option>
							<option value="2" select>👌 - Prefered</option>
						</select>
					</div>
				</div>
-->
				<input class="btn btn-lg btn-success btn-block" type="submit" value="Create event">
			</fieldset>
		</form>
	</div>
</div>
{{end}}